<div class="row">
  <hr>
  <h3>Shooping Cart </h3>
  <div class="col-md-5">
    
      <div *ngFor= "let itemEl of shoppingCartItems; let i = index"> 

      <a href="#" class="list-group-item clearfix" (click)="onSelected()">
        <div class="pull-left">
              <div>
                <h4 class="list-group-item-heading">Title: {{ itemEl.name }}</h4>
                <h4 class="list-group-item-heading">Price: ${{ itemEl.price }}</h4>
                <p class="list-group-item-text">Description: {{ itemEl.description }}</p>
              </div>
              <span>
                    <img
                      [src]="itemEl.imagePath"
                      alt="{{itemEl.name}}"
                      class="img-responsive"
                      style="max-height: 273px;">
              </span>
            
        </div>        
      </a>
      <button class="btn btn-delete" (click)="onDelete(i)"> Delete </button>
      </div>
  
    
  </div>
</div>